# Project exclude paths
/cmake-build-debug/
/buildpacked/
/.idea/vcs.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/Playground.iml
/.idea/.name
/vendor/glfw/
/vendor/glm/
/vendor/stb/
/build/
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/.vs/
/.idea/dataSources.xml
