# Project exclude paths
/cmake-build-debug/
/buildpacked/
/.idea/vcs.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/Playground.iml
/.idea/.name
/build/
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/.vs/
/.idea/dataSources.xml
/Sandbox/
/CMakeLists.txt
/Documentaion/Doxyfile
/.idea/encodings.xml
assets/settings/window.node
/.vscode
assets/settings/winSettings.node
